[Unit]
Description=Modelo Predictivo Flask API
After=network.target

[Service]
User=YOUR_USER
WorkingDirectory=/home/jp0617/proyectos/modelo
ExecStart=/usr/bin/python3 index.py
Restart=always
RestartSec=5
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
